table{
//border: 1px solid #f77;
}

td{
	border: 1px solid #777;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

#content{
	border: 0.5px solid rgb(169, 169, 169);
	float: left;
}

#main{
	background-color: #94C6DD;
	//width:auto;
	//width: 526px;
	//height: 520px;
	//height: auto;
	float:left;
}

#extra{
	float:left;
	//border: 0.5px solid rgb(169, 169, 169);
}

#left{
float: left;

}

#right{
float: left;

}

#candidateZone{

}

.description{
width: 105px;
border-bottom: 5px solid #777;
padding-top: 3px;
}

.none{
	display: none;
}

button{
	margin-top: 2px;
	margin-bottom: 3px;
}

.leaderboards{
	float: left;
	border-top: 0.5px solid rgb(169, 169, 169);	
	background-color: #ffffff;
	width:100%;
}